/**
 * ----------------------------------------
 * Body contents
 * ----------------------------------------
 */

body {
    -webkit-animation: color-change-5x 20s linear infinite alternate both;
    -moz-animation: color-change-5x 20s linear infinite alternate both;
    animation: color-change-5x 20s linear infinite alternate both;
}

.stemTitle {
    -webkit-animation: text-pop-up-top 3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    -moz-animation: text-pop-up-top 3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: text-pop-up-top 3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    font-size: 130px;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.infoBox {
    -webkit-animation: scale-in-ver-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    -moz-animation: scale-in-ver-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: scale-in-ver-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    width: 400px;
    min-height: 300px;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    background-color: white;
    padding: 10px;
}

.swingIn1 {
	-webkit-animation: swing-in-left-fwd 1s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
	-moz-animation: swing-in-left-fwd 1s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
	animation: swing-in-left-fwd 1s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
  width: 400px;
}
.swingIn2 {
	-webkit-animation: swing-in-left-fwd 2s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
	-moz-animation: swing-in-left-fwd 2s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
	animation: swing-in-left-fwd 2s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
  width: 400px;
}
.swingIn3 {
	-webkit-animation: swing-in-left-fwd 3s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
	-moz-animation: swing-in-left-fwd 3s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
	animation: swing-in-left-fwd 3s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
  width: 400px;
}
.swingIn4 {
	-webkit-animation: swing-in-left-fwd 4s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
	-moz-animation: swing-in-left-fwd 4s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
	animation: swing-in-left-fwd 4s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
  width: 400px;
}

/**
 * ----------------------------------------
 * animation swing-in-left-fwd
 * ----------------------------------------
 */
@-webkit-keyframes swing-in-left-fwd {
  0% {
    -webkit-transform: rotateY(100deg);
            transform: rotateY(100deg);
    -webkit-transform-origin: left;
            transform-origin: left;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
    -webkit-transform-origin: left;
            transform-origin: left;
    opacity: 1;
  }
}
@keyframes swing-in-left-fwd {
  0% {
    -webkit-transform: rotateY(100deg);
            transform: rotateY(100deg);
    -webkit-transform-origin: left;
            transform-origin: left;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
    -webkit-transform-origin: left;
            transform-origin: left;
    opacity: 1;
  }
}

/**
 * ----------------------------------------
 * animation scale-in-ver-top
 * ----------------------------------------
 */

@-webkit-keyframes scale-in-ver-top {
    0% {
        -webkit-transform: scaleY(0);
        transform: scaleY(0);
        -webkit-transform-origin: 100% 0%;
        transform-origin: 100% 0%;
        opacity: 1;
    }
    100% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
        -webkit-transform-origin: 100% 0%;
        transform-origin: 100% 0%;
        opacity: 1;
    }
}

@keyframes scale-in-ver-top {
    0% {
        -webkit-transform: scaleY(0);
        transform: scaleY(0);
        -webkit-transform-origin: 100% 0%;
        transform-origin: 100% 0%;
        opacity: 1;
    }
    100% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
        -webkit-transform-origin: 100% 0%;
        transform-origin: 100% 0%;
        opacity: 1;
    }
}


/**
 * ----------------------------------------
 * animation text-pop-up-top
 * ----------------------------------------
 */

@-webkit-keyframes text-pop-up-top {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        text-shadow: none;
    }
    100% {
        -webkit-transform: translateY(-50px);
        transform: translateY(-50px);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc, 0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc, 0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
    }
}

@keyframes text-pop-up-top {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        text-shadow: none;
    }
    100% {
        -webkit-transform: translateY(-50px);
        transform: translateY(-50px);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc, 0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc, 0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
    }
}


/**
 * ----------------------------------------
 * animation color-change-2x
 * ----------------------------------------
 */

@-webkit-keyframes color-change-2x {
    0% {
        background: #19dcea;
    }
    100% {
        background: #b22cff;
    }
}

@keyframes color-change-2x {
    0% {
        background: #19dcea;
    }
    100% {
        background: #b22cff;
    }
}


/**
 * ----------------------------------------
 * animation color-change-5x
 * ----------------------------------------
 */

@-webkit-keyframes color-change-5x {
    0% {
        background: #19dcea;
    }
    25% {
        background: #b22cff;
    }
    50% {
        background: #ea2222;
    }
    75% {
        background: #f5be10;
    }
    100% {
        background: #3bd80d;
    }
}

@keyframes color-change-5x {
    0% {
        background: #19dcea;
    }
    25% {
        background: #b22cff;
    }
    50% {
        background: #ea2222;
    }
    75% {
        background: #f5be10;
    }
    100% {
        background: #3bd80d;
    }
}


/**
 * ----------------------------------------
 * animation kenburns-top
 * ----------------------------------------
 */

@-webkit-keyframes kenburns-top {
    0% {
        -webkit-transform: scale(1) translateY(0);
        transform: scale(1) translateY(0);
        -webkit-transform-origin: 50% 16%;
        transform-origin: 50% 16%;
    }
    100% {
        -webkit-transform: scale(1.25) translateY(-15px);
        transform: scale(1.25) translateY(-15px);
        -webkit-transform-origin: top;
        transform-origin: top;
    }
}

@keyframes kenburns-top {
    0% {
        -webkit-transform: scale(1) translateY(0);
        transform: scale(1) translateY(0);
        -webkit-transform-origin: 50% 16%;
        transform-origin: 50% 16%;
    }
    100% {
        -webkit-transform: scale(1.25) translateY(-15px);
        transform: scale(1.25) translateY(-15px);
        -webkit-transform-origin: top;
        transform-origin: top;
    }
}
